/demo-java-app/target
.idea
.DS_Store
minikube-linux-amd64
argocd
*.log
*.jar
*.zip
*.tar
*.gz
*.iso
*.img
*.exe
*.bin
*.mp4
*.mp3
*.pdf
*.png
*.jpg
*.gif
*.svg
*.DS_Store
node_modules/
target/
.cache/
.minikube/
